/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Spectral+SC&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Spectral SC", sans-serif;
}
ul li  {
    list-style-type: none;
    display: inline-block;
}

ul a:hover {
    text-decoration: underline;
}

.active {
    border-bottom: 2px solid black;
    color: black;
}

.ul {
    display: inline-block;
    margin-right: 0 auto;
    word-spacing: 10px;
    margin-right: 20px;
    font-weight: bold;
    font-size: 1.3em;

}
li a {
    text-decoration: none;
}

.nav {
    font-family: "Spectral SC", sans-serif;
    width: 100%;
    line-height: 70px;
    text-align: right;
}

.logo {
    background-image: url("../images/vp.png");
    background-size: 70px 70px;
    width: 70px;
    height: 70px;
    float: left;
}

.hero-image {
    background-image: url("../images/landscape1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    background-size: cover;
    position: absolute;
}

.hero-text {
    text-align: center;
    margin-top: 50px;
    letter-spacing: 6px;
    font-size: 2em;
}

/* Media queries for smaller screens */

@media screen and (max-width: 320px) {
    .hero-image {
        width: 100%;
        height: auto;
    }

    .logo {
        background-size: 70px 70px;
    width: 70px;
    height: 70px;
    float: left;
    }

    .hero-image h1 {
        font-size: 1em;
    }

    .nav li {
        text-align: center;
        font-size: 1em;
    }
}

@media screen and (max-width: 767px) {
    .hero-image {
        width: 100%;
        height: auto;
    }

    .logo {
        background-size: 70px 70px;
        width: 70px;
        height: 70px;
        margin: 0 auto;
    }

    .hero-image h1 {
        font-size: 1em;
    }

    .nav li {
        text-align: center;
        font-size: 1em;
    }
}

@media screen and (max-width: 1200px) {
    .hero-image {
        width: 100%;
        height: auto;
    }

    .hero-image h1 {
        font-size: 1em;
        margin-bottom: 450px;
    }

}