/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Spectral+SC&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

p {
    font-family: Georgia, sans-serif;
    color: #1d7595;
}

h1,
h2,
h3 {
    font-family: "Spectral SC", sans-serif;
    color: #1d7595;
    text-decoration: none;
}

ul {
    color: #1d7595;
}

.nav-ul li {
    list-style-type: none;
    display: inline-block;
}

.nav a:hover {
    text-decoration: underline;
}

.active {
    border-bottom: 2px solid #2596be;
}

.nav-ul {
    display: inline-block;
    word-spacing: 10px;
    margin-right: 20px;
    font-weight: bold;
    font-size: 1.3em;

}

.nav a {
    color: #2596BE;
    text-decoration: none;
}

.nav {
    font-family: "Spectral SC", sans-serif;
    width: 100%;
    line-height: 70px;
    text-align: right;
    background-color: #75d3f9;
    background-image: linear-gradient(#75d3f9, white);
}

.logo {
    background-image: url("../images/vp.png");
    background-size: 70px 70px;
    width: 70px;
    height: 70px;
    float: left;
}

/* hero image styling */
.hero-image {
    background-image: url("../images/lake.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: top;
    position: relative;
    overflow: hidden;
}

.hero-text {
    text-align: center;
    margin-top: 50px;
    letter-spacing: 6px;
    font-size: 2em;
}

/* Flexbox styling */
.flexbox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
    background-color: #75d3f9;
    background-image: linear-gradient(#75d3f9, white);
}

#profile-image {
    border: 1px solid #1d7595;
    border-radius: 10px;
}
#bg-video1 {
    width: 100vw;
    height: 100vh;
    position: fixed;
    object-fit: cover;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    opacity: 0.2;
}

.flexbox-item {
    min-height: 200px;
    margin: 20px;
}

.flexbox-item1 {
    min-height: 80px;
}

.about-image {
    width: 50%;
    height: 100px;
    border-radius: 50%;
    height: 50px;
    object-fit: contain;
    position: relative;
}

.flexbox-item2 {
    min-height: 100px;
    padding: 10px;
    font-size: 1.2em;
    text-decoration-color: #1d7595;
}

#image-bg-container {
    width: 100%;
    height: 600px;
}

#lake-bg {
    background-image: url("../images/lake.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

#awards-section {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #1d7595;
    margin-top: 60px;
}

.flexbox-item2 > ul {
    font-weight: 600;
    list-style-type: none;
    text-decoration: underline;
    margin: 50px;
    line-height: 45px;
    font-family: "Spectral SC", sans-serif;
}

.awards-image {
    max-width: 100%;
    object-fit: scale-down;
}

.about-outer {
    width: 100%;
    padding: 50px;
    padding-top: 100px;
    font-size: 1.2em;
    background-image: linear-gradient(#75d3f9, white);
    color: #1d7595;
}

.about-outer2 {
    width: 100%;
    padding: 50px;
    padding-top: 100px;
    font-size: 1.2em;
    background-image: linear-gradient(to top, #75d3f9, white);
    color: #1d7595;
}

.about-core {
    display: inline-block;
    border: 1px solid #1d7595 ;
    border-radius: 25px;
    padding: 30px;
}

.contact-outer {
    text-align: center;
    width: 100%;
    padding: 50px;
    padding-top: 100px;
    font-size: 1.2em;
    background-image: linear-gradient(#75d3f9, white);
    color: #1d7595;
}

.contact-outer2 {
    text-align: center;
    width: 100%;
    padding: 50px;
    padding-top: 50px;
    font-size: 1.2em;
    background-image: linear-gradient(to top,#75d3f9, white);
    color: #1d7595;
}

.contact-core {
    display: inline-block;
    border: 1px solid #1d7595 ;
    border-radius: 25px;
    padding: 30px;
}

.contact-core ul {
    list-style-type: none;
    line-height: 20px;
}

.contact-core input {
    margin: 20px;
    align-items: center;
    width: 90%;
}

#query {
    border: 1px solid #1d7595;
    border-radius: 25px;
    margin: 10px;
}

#article-box {
    background-image: linear-gradient(to top,#75d3f9, white);
}

#article-container {
    width: 100%;
    padding-top: 300px;
    font-size: 1.2em;
    color: #1d7595;
}

.about-core h2, p {
    padding-left: 15px;
}

.about-video {
    position: relative;
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 100px;
    height: 600px;
    width: 100%;
}

.about-container {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    background-color: aqua;
}

.about-image {
    width: 100%;
    height: 400px;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    text-align: center;
    color: #1d7595;
}

#contact-container {
    width: 100%;
    position: relative;
    padding-right: 5%;
    display: inline-block;
    background-image: linear-gradient(to top, #75d3f9, white);
}

textarea {
    resize: vertical;
}

.form-input {
    display: block;
    border: 0.5px solid #1d7595;
    padding-left: 5px;
    border-radius: 20px;
}

.newsletter-signup {
    width: 100%;
    height: 90px;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    background-color: #75d3f9;
    background-image: linear-gradient(#75d3f9, white);
    color: #1d7595;
}

.map-box {
    width: 100%;
    height: 300px;
}

.rounded-submit {
    border-radius: 25px;
}

input[type=submit] {
    padding: 3px 10px;
    color: black;
}

input[type=submit]:hover {
    background-color: #2596be;
    color: black;
}

.back-to-top-container {
    text-align: center;
    background-color: white;
    color: black;
}

.back-to-top {
    text-decoration: none;
    padding: 20px;
    margin: 20px;
    font-size: 1.1em;
}

.back-to-top {
    color: #1d7595;
}

#map-box {
    width: 100%;
    height: 200px;
}

.gallery-container {
    width: 100%;
}

.image-container {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
}

.image-container>img {
    width: 100%;
}

.heading-container h1 {
    margin-bottom: 20px;
}

.footer {
    width: 100%;
    height: 67px;
    background-color: #75d3f9;
    text-align: center;
    background-image: linear-gradient(to top, #75d3f9, white);
}

.social-links li {
    padding: 20px;
    display: inline-block;
    font-size: 1.5em;
}

.social-links a {
    color: #2596be
}

.social-links a:hover {
    color: black;
}

#error-container {
    width: 100%;
    height: 600px;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#error-image {
    background-image: url("../images/404.jpg");
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    background-size: contain;
    overflow: hidden;
}

/* Media queries for laptops */
@media screen and (max-width: 1200px) {
    .hero-image {
        width: 100%;
        height: auto;
    }

    .hero-image h1 {
        font-size: 1em;
        margin-bottom: 450px;
    }

    h3 {
        font-size: 1em;
    }

    .newsletter-signup {
        width: 100%;
    }
}

/* Media queries for medium screens */
@media screen and (max-width: 767px) {
    .hero-image {
        width: 100%;
        height: auto;
    }

    h3 {
        font-size: 1em;
    }

    .logo {
        background-size: 70px 70px;
        width: 70px;
        height: 70px;
        margin: 0 auto;
    }

    .hero-image h1 {
        font-size: 1em;
    }

    .nav li {
        text-align: center;
        font-size: 1em;
    }

    .nav-ul {
        font-size: 1em;
    }

    .newsletter-signup {
        width: 100%;
    }

    .about-outer {
        padding: 50px 5px;
    }
    
    .about-outer2 {
        padding: 5px;
    }
    
    .contact-outer {
        padding: 50px 5px;
    }
    
    .contact-outer2 {
        padding: 50px 5px;
    }

    .contact-core {
        padding: 5px;
    }
}

/* Media queries for small screens */
@media screen and (max-width: 340px) {
    .hero-image {
        width: 100%;
        height: auto;
    }

    h3 {
        font-size: 1em;
    }

    .logo {
        background-size: 70px 70px;
        width: 70px;
        height: 70px;
        float: left;
    }

    .hero-image h1 {
        font-size: .9em;
    }

    .nav {
        text-align: center;
        font-size: 1em;
        word-spacing: 5px;
    }

    .nav-ul {
        font-size: 1em;
    }

    .profile-picture-container {
        width: 100%;
        height: 100px;
        margin-top: 600px;
    }

    .newsletter-signup {
        width: 100%;
        font-size: .9em;
    }

    .about-outer {
        padding: 50px 5px;
    }
    
    .about-outer2 {
        padding: 5px;
    }
    
    .contact-outer {
        padding: 50px 5px;
    }
    
    .contact-outer2 {
        padding: 50px 5px;
    }

    .contact-core {
        padding: 5px;
    }

    .flexbox-item2 {
        font-size: .8em;
    }
}